mixin Messages(msgs)
  if msgs.Length() > 0
    ul.messages
      - var messages = msgs.Get()
      each msg in messages
        li(class=msg.Type)=msg.Message


mixin helpCompose()
  strong(style='margin-bottom:5px;display:block') Writing a Great Post
  ul
    li
      | Using markdown shortcut to compose your post.
    li
      | Use the Markdown switch button to toggle between rich text and plain markdown editor mode.
    li
      | Select the topics that represent for the post content.

mixin helpManage()
  +helpCompose()

mixin helpDetail()
  +helpCompose()

mixin newButton(label, link)
  a.link-icon(href=link)
    svg(style='width:24px;height:24px' viewBox='0 0 24 24')
      path(fill='currentColor' d='M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z')
    =label

mixin manageMenu()
  h2.header
    a(href=config.Url("/manage")) Manage
  ul.manage-features
    li
      a(href=config.Url("/manage/topics"))
        svg(viewBox='0 0 24 24')
          path(fill='currentColor' d='M4 6H2V20C2 21.1 2.9 22 4 22H18V20H4V6M20 2H8C6.9 2 6 2.9 6 4V16C6 17.1 6.9 18 8 18H20C21.1 18 22 17.1 22 16V4C22 2.9 21.1 2 20 2M20 12L17.5 10.5L15 12V4H20V12Z')
        | Topics
    li
      a(href=config.Url("/manage/posts"))
        svg(viewBox='0 0 24 24')
          path(fill='currentColor' d='M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z')
        | Posts
    li
      a(href=config.Url("/manage/roles"))
        svg(viewBox='0 0 24 24')
          path(fill='currentColor' d='M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9M12,1L3,5V11C3,16.55 6.84,21.74 12,23C17.16,21.74 21,16.55 21,11V5L12,1Z')
        | Roles
    li
      a(href=config.Url("/manage/users"))
        svg(viewBox='0 0 24 24')
          path(fill='currentColor' d='M16 17V19H2V17S2 13 9 13 16 17 16 17M12.5 7.5A3.5 3.5 0 1 0 9 11A3.5 3.5 0 0 0 12.5 7.5M15.94 13A5.32 5.32 0 0 1 18 17V19H22V17S22 13.37 15.94 13M15 4A3.39 3.39 0 0 0 13.07 4.59A5 5 0 0 1 13.07 10.41A3.39 3.39 0 0 0 15 11A3.5 3.5 0 0 0 15 4Z')
        | Users
    li
      a(href=config.Url("/manage/comments"))
        svg(style='width:24px;height:24px' viewBox='0 0 24 24')
          path(fill='currentColor' d='M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2Z')
        | Comments
    li
      a(href=config.Url("/manage/files"))
        svg(viewBox='0 0 24 24')
          path(fill='currentColor' d='M8.5,13.5L11,16.5L14.5,12L19,18H5M21,19V5C21,3.89 20.1,3 19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19Z')
        | Files
    li
      a(href=config.Url("/manage/settings"))
        svg(style='width:24px;height:24px' viewBox='0 0 24 24')
          path(fill='currentColor' d='M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z')
        | Settings
    //- li
    //-   a(href=config.Url("/manage/reports"))
    //-     svg(viewBox='0 0 24 24')
    //-       path(fill='currentColor' d='M14,12H10V10H14M14,16H10V14H14M20,8H17.19C16.74,7.22 16.12,6.55 15.37,6.04L17,4.41L15.59,3L13.42,5.17C12.96,5.06 12.5,5 12,5C11.5,5 11.04,5.06 10.59,5.17L8.41,3L7,4.41L8.62,6.04C7.88,6.55 7.26,7.22 6.81,8H4V10H6.09C6.04,10.33 6,10.66 6,11V12H4V14H6V15C6,15.34 6.04,15.67 6.09,16H4V18H6.81C7.85,19.79 9.78,21 12,21C14.22,21 16.15,19.79 17.19,18H20V16H17.91C17.96,15.67 18,15.34 18,15V14H20V12H18V11C18,10.66 17.96,10.33 17.91,10H20V8Z')
    //-     | Reports

mixin userMenu()
  .meta.flex
    !=meta.User.AvatarElm('32', '32', false)
    div
      a.author(href=meta.User.Url())=meta.User.Name()
      div.stat.flex
        span="@" + meta.User.Username
  ul.manage-features
    li
      a(href=config.Url("/posts/new"))
        svg(style='width:24px;height:24px' viewBox='0 0 24 24')
          path(fill='currentColor' d='M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z')
        | New post
    li
      a(href=config.Url("/posts"))
        svg(viewBox='0 0 24 24')
          path(fill='currentColor' d='M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z')
        | My Posts
    li
      a(href=config.Url("/comments"))
        svg(viewBox='0 0 24 24')
          path(fill='currentColor' d='M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2Z')
        | My Comments
    li
      a(href=config.Url("/files"))
        svg(viewBox='0 0 24 24')
          path(fill='currentColor' d='M8.5,13.5L11,16.5L14.5,12L19,18H5M21,19V5C21,3.89 20.1,3 19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19Z')
        | My Files
    li
      a(href=config.Url("/settings"))
        svg(viewBox='0 0 24 24')
          path(fill='currentColor' d='M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z')
        | Settings

mixin topicSelect(name, topics, current)
  select(name=name)
    option(value='') --
    each t in topics
      if t.ID == current.ParentID
        option(value=t.ID, selected='selected')=t.Name
      else
        option(value=t.ID)=t.Name

mixin topicCheckboxMulti(name, topics, selected)
  .multi-checkbox.scroll
    each topic in topics
      - var inputId = fmt.Sprintf("topic-%d", topic.ID)
      if utils.SliceContains(selected, topic.ID)
        label(for=inputId)
          input(type='checkbox', name=name, value=topic.ID, id=inputId, checked='checked')
          span.name=topic.Name
      else
        label(for=inputId)
          input(type='checkbox', name=name, value=topic.ID, id=inputId)
          span.name=topic.Name

mixin topicSelectMulti(name, topics, selected)
  details
    summary Select topics
    .multi-checkbox.scroll
      each topic in topics
        - var inputId = fmt.Sprintf("topic-%d", topic.ID)
        if utils.SliceContains(selected, topic.ID)
          label(for=inputId)
            input(type='checkbox', name=name, value=topic.ID, id=inputId, checked='checked')
            span.name=topic.Name
        else
          label(for=inputId)
            input(type='checkbox', name=name, value=topic.ID, id=inputId)
            span.name=topic.Name

mixin topicSelectSingle(name, topics, selected)
  select(name=name style="width:140px")
    option(value='') Select topic
    each topic in topics
      if utils.SliceContains(selected, topic.ID)
        option(value=topic.ID, selected='selected')=topic.Name
      else
        option(value=topic.ID)=topic.Name

mixin formOption(value, selected, label)
  if value == selected
    option(value=value selected='')=label
  else
    option(value=value)=label

mixin formInput(name, value, label)
  p
    label=label
    input(name=name value=value)

mixin formTextarea(name, value, label)
  p
    label=label
    textarea(name=name)=value

mixin formSwitch(name, condition, label)
  label.switch
    =label
    | &nbsp;
    if condition
      input(type='checkbox' name=name checked='checked')
    else
      input(type='checkbox' name=name)
    span.slider

mixin roleSelectMulti(name, roles, selected)
  .multi-checkbox.scroll
    each role in roles
      - var inputId = fmt.Sprintf("role-%d", role.ID)
      if utils.SliceContains(selected, role.ID)
        label(for=inputId)
          input(type='checkbox', name=name, value=role.ID, id=inputId, checked='checked')
          span.name=role.Name
      else
        label(for=inputId)
          input(type='checkbox', name=name, value=role.ID, id=inputId)
          span.name=role.Name

mixin topicList(topics)
  div.topics
    each topic in topics
      a(href=topic.Url() title=topic.Name)="# "+topic.Name


mixin postMeta(post)
  .meta.flex
    !=post.User.AvatarElm('32', '32', false)
    div
      a.author(href=post.User.Url() title=post.User.Name())=post.User.Name()
      div.stat.flex
        time(datetime=post.CreatedAt.Format("2006-01-02T15:04:05-0700")).date=post.CreatedAt.Format("January 2, 2006")
        span.views
          =fmt.Sprintf("%d views", post.ViewCount)
        span.comment
          =fmt.Sprintf("%d comments", post.CommentCount)

mixin postCard(post)
  - var postUrl = post.Url()
  - var bgStyle = ""

  if post.FeaturedImage != nil
    - bgStyle = fmt.Sprintf("background-image:url('%s')", post.FeaturedImage.Url())
  article.box
    a.overlay(href=postUrl title=post.Name)=post.Name
    if post.FeaturedImage != nil && post.FeaturedImage.ID > 0
      a.bg(href=postUrl title=post.Name style=bgStyle)=post.Name
    .box-content
      +postMeta(post)
      .info
        h3
          a(href=postUrl title=post.Name)=post.Name
        .tags
          for topic in post.Topics
            a(href=topic.Url() title=topic.Name)='#'+topic.Name

mixin postListItem(post, pos)
  article
    h4
      if pos > 0
        span.pos=fmt.Sprintf("# %d", pos)
      a(href=post.Url() title=post.Name)=post.Name
    .tags
      for topic in post.Topics
        a(href=topic.Url() title=topic.Name)='#'+topic.Name

mixin commentView(comment, postID, editCondition, extraInfo)
  if extraInfo
    h4(style='margin:0 0 10px')
      a(href=comment.Post.Url() target='_blank')=comment.Post.Name
  .comment.box.flex(id=fmt.Sprintf("comment-%d", comment.ID))
    !=comment.User.AvatarElm('30', '30', false)
    div
      a.author(href=comment.User.Url())=comment.User.Name()
      | &nbsp;&nbsp;
      span.date=comment.CreatedAt.Format("January 2, 2006 15:04 MST")
      .content
        !=comment.ContentHTML
        if editCondition
          .actions
            a.edit-comment(href='#', data-id=comment.ID) Edit
            | &nbsp;&nbsp;
            a.delete-comment(href='#', data-id=comment.ID) Delete
            if extraInfo
              - var commentUrl = fmt.Sprintf("%s#comment-%d", comment.Post.Url(), comment.ID)
              - var postCommentsUrl = fmt.Sprintf("/manage/comments?post=%d", postID)
              - var userCommentsUrl = fmt.Sprintf("/manage/comments?user=%d", postID)

              | &nbsp;&nbsp;
              a.view-comment(href=commentUrl target='_blank') View
              if meta.User.IsRoot()
                | &nbsp;&nbsp;
                a.post-comments(href=postCommentsUrl) All Post comments
                | &nbsp;&nbsp;
                a.post-comments(href=userCommentsUrl) All User comments
      if editCondition
        form(method="post" action=fmt.Sprintf("/comments/%d", comment.ID))
          input(type="hidden" name="post_id" value=postID)
          textarea(name="content" placeholder="Write your comment here...")=comment.Content
          button(type="submit") Update
